/* ----footer---*/
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image:linear-gradient($gradient-primario, $gradient-secundario) ;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
    img{
        max-width: 40px;
        padding-top: 5px;
    }
}
.ubicacion{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img{
        max-width: 50px;
    }
}
.horario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
    img{
        max-width: 40px;
        padding: 5px;
    }
}
.pie__marca{
    margin: 30px;
    font-size: 13px;
}
.ubicacion__img:hover{
    transform: scale(1.5);
    transition: all 1s;
    }
.redes__img:hover{
    transform: scale(1.5);
    transition: all 1s;
}
