.publicidad {
    background-image: url(../img/publicidad2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    font-size: 15px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content:center;  
    button{
        margin-top: 20px;

    } 
    div{
        width: 300px;
        overflow:visible;
    }

}
.btn{
    border-radius: map-get($boton , radio);
    border-color:map-get($boton , borde-color );
    color: map-get($boton, color);
}
.introduccion {
    background-color:darkgrey;
    font-family:'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}

.curso_cat{
    height: 200px;
    border: solid 1px;
    text-align: center;
    border-radius: 5px;
    @include propiedadesPrincipales(#bb9696,rgb(97, 90, 90),3px,0);
    .btn{
        @extend.btn;
        padding: map-get($boton, padding);
        background-color:rgb(197, 146, 146);
    }
}

.btn:hover{
        background-color:rgb(11, 38, 190);
        color: white;
    }

