a{
    text-decoration: none;
    color: white;
}

.navbar-brand{
    font-size: 30px;
}
.marca{
    height: 70px;

}
#navbarSupportedContent{
    margin-top:100px;
}
.logo{
    margin-left: 5px;
    margin-bottom: 10px;
    animation-name:logo;
    animation-duration:1.5s;
    animation-timing-function:ease-out;
}
.nav-link{
    margin: 10px;
}
.encabezado {
    background-image: url(../img/header4.jpg);
    background-size: cover;
    font-size: 20px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    color: white;
}
header h2{
    width: 270px;
    height: 100px;
    margin-right: 30px;
}
.publicidad {
    background-image: url(../img/publicidad2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    font-size: 15px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content:center;    
}
aside button{
    margin-top: 20px;
}
.btn{
    border-radius: 5px;
    border-color: white;
    color: beige;
}
.info_publicidad{
    width: 300px;
    overflow:visible;
}

.introduccion {
    background-color:darkgrey;
    font-family:'Merriweather', serif;
    font-size: 20px;
    text-align: center;
}

.curso_cat{
    height: 200px;
    background-color: rgb(187, 150, 150);
    border: solid 1px;
    text-align: center;
    color: bisque;
    padding: 3px;
    border-radius: 5px;
}

/* ----footer---*/
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image:linear-gradient(rgb(216, 214, 214), rgb(68, 65, 65)) ;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px;

}
.redes__img{
    max-width: 40px;
    padding-top: 5px;
    
}
.ubicacion{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ubicacion__img{
    max-width: 50px;
}
.horario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.horario__img{
    max-width: 40px;
    padding: 5px;
}
.pie__marca{
    margin: 30px;
    font-size: 13px;
}
    /* ----animaciones---*/
    .navbar{
        background-image:linear-gradient(rgb(216, 214, 214), rgb(68, 65, 65)) ;
    }
    .ubicacion__img:hover{
    transform: scale(1.5);
    transition: all 1s;
    }
    .redes__img:hover{
        transform: scale(1.5);
        transition: all 1s;
    }
    .btn:hover{
        background-color:rgb(11, 38, 190);
        color: white;
    }
    @keyframes aparecer {
        0%{
            transform: translate(200px,0px);
        }
        100%{
            transform: translate(0px,0px);
        }
    }
    header h2{
        animation-name: aparecer;
        animation-duration: 3s;
    }

    @keyframes logo {
        0%{
            transform: rotate(10deg);
            transform: translate(0px,-40px);
        }
        40%{
            transform: rotate(15deg);
        }
        60%{
            transform: rotate(-15deg);
        }
        100%{
            transform:rotate(0deg);
        }
    }
